<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
</head>
<body>
    <h1>My Database</h1>
    <div><a href="{{ url_for('user_login')}}">Sign In Here </a></div>
    
        {% if users == []: %}
        <p>No user here.</p>
        {% endif %}

    <ul>
        {% for user in users %}
        <li>
            {{user.name}} - {{ user.email }} - {{ user.password }} 
            
        </li>
        {% endfor %}
    </ul>

    <a href="{{url_for('logout') }}">Logout</a>
</body>
</html>