/* .sign-in-matters {
  padding: 12px 24px;
} */

.google-signup-btn {
    background-color: #fff;
    border: 2px solid #db4437;
    border-radius: 4px;
    color: #db4437;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  
  .google-signup-btn:hover {
    background-color: #db4437;
    color: #fff;
  }

  
.google-signup-btn img {
  margin-right: 220px;
  margin-top: -5px;
  height: 30px;
  width: 30px;
}

img:hover {
  background-color: #db4437;
  color: #fff;
}

/* img {
  background-color: #fff;
  margin-top: 10px;
} */

.sign-up {
  margin-top: -25px;
  margin-left: 15px;
  padding-left: 15px;
}